@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('img/background.jpg') center no-repeat;
  backdrop-filter: blur(5px);
  font-family: 'Poppins', sans-serif;
}
